# Ignore build artifacts
build/
dist/
*.egg-info/
test/*/

notebooks/

# Ignore log files
# *.log


# Ignore system files
.DS_Store
*.pyc
__pycache__/

.env 

adni.csv 
run_adni.py
utils_adni.py

deprecated/

ADNI_Part/

sustain_results/

